.stitches-heroicon(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

.heroicon {
    background-image: url(spritesheet.png);    background-repeat: no-repeat;
    display: block;

    &.abaddon {
        .stitches-heroicon(-5px, -5px, 59px, 33px);
    }

    &.alchemist {
        .stitches-heroicon(-74px, -5px, 59px, 33px);
    }

    &.ancient_apparition {
        .stitches-heroicon(-143px, -5px, 59px, 33px);
    }

    &.antimage {
        .stitches-heroicon(-212px, -5px, 59px, 33px);
    }

    &.axe {
        .stitches-heroicon(-281px, -5px, 59px, 33px);
    }

    &.bane {
        .stitches-heroicon(-350px, -5px, 59px, 33px);
    }

    &.batrider {
        .stitches-heroicon(-419px, -5px, 59px, 33px);
    }

    &.beastmaster {
        .stitches-heroicon(-488px, -5px, 59px, 33px);
    }

    &.bloodseeker {
        .stitches-heroicon(-5px, -48px, 59px, 33px);
    }

    &.bounty_hunter {
        .stitches-heroicon(-74px, -48px, 59px, 33px);
    }

    &.brewmaster {
        .stitches-heroicon(-143px, -48px, 59px, 33px);
    }

    &.bristleback {
        .stitches-heroicon(-212px, -48px, 59px, 33px);
    }

    &.broodmother {
        .stitches-heroicon(-281px, -48px, 59px, 33px);
    }

    &.centaur {
        .stitches-heroicon(-350px, -48px, 59px, 33px);
    }

    &.chaos_knight {
        .stitches-heroicon(-419px, -48px, 59px, 33px);
    }

    &.chen {
        .stitches-heroicon(-488px, -48px, 59px, 33px);
    }

    &.clinkz {
        .stitches-heroicon(-5px, -91px, 59px, 33px);
    }

    &.crystal_maiden {
        .stitches-heroicon(-74px, -91px, 59px, 33px);
    }

    &.dark_seer {
        .stitches-heroicon(-143px, -91px, 59px, 33px);
    }

    &.dazzle {
        .stitches-heroicon(-212px, -91px, 59px, 33px);
    }

    &.death_prophet {
        .stitches-heroicon(-281px, -91px, 59px, 33px);
    }

    &.disruptor {
        .stitches-heroicon(-350px, -91px, 59px, 33px);
    }

    &.doom_bringer {
        .stitches-heroicon(-419px, -91px, 59px, 33px);
    }

    &.dragon_knight {
        .stitches-heroicon(-488px, -91px, 59px, 33px);
    }

    &.drow_ranger {
        .stitches-heroicon(-5px, -134px, 59px, 33px);
    }

    &.earth_spirit {
        .stitches-heroicon(-74px, -134px, 59px, 33px);
    }

    &.earthshaker {
        .stitches-heroicon(-143px, -134px, 59px, 33px);
    }

    &.elder_titan {
        .stitches-heroicon(-212px, -134px, 59px, 33px);
    }

    &.ember_spirit {
        .stitches-heroicon(-281px, -134px, 59px, 33px);
    }

    &.enchantress {
        .stitches-heroicon(-350px, -134px, 59px, 33px);
    }

    &.enigma {
        .stitches-heroicon(-419px, -134px, 59px, 33px);
    }

    &.faceless_void {
        .stitches-heroicon(-488px, -134px, 59px, 33px);
    }

    &.furion {
        .stitches-heroicon(-5px, -177px, 59px, 33px);
    }

    &.gyrocopter {
        .stitches-heroicon(-74px, -177px, 59px, 33px);
    }

    &.huskar {
        .stitches-heroicon(-143px, -177px, 59px, 33px);
    }

    &.invoker {
        .stitches-heroicon(-212px, -177px, 59px, 33px);
    }

    &.jakiro {
        .stitches-heroicon(-281px, -177px, 59px, 33px);
    }

    &.juggernaut {
        .stitches-heroicon(-350px, -177px, 59px, 33px);
    }

    &.keeper_of_the_light {
        .stitches-heroicon(-419px, -177px, 59px, 33px);
    }

    &.kunkka {
        .stitches-heroicon(-488px, -177px, 59px, 33px);
    }

    &.legion_commander {
        .stitches-heroicon(-5px, -220px, 59px, 33px);
    }

    &.leshrac {
        .stitches-heroicon(-74px, -220px, 59px, 33px);
    }

    &.lich {
        .stitches-heroicon(-143px, -220px, 59px, 33px);
    }

    &.life_stealer {
        .stitches-heroicon(-212px, -220px, 59px, 33px);
    }

    &.lina {
        .stitches-heroicon(-281px, -220px, 59px, 33px);
    }

    &.lion {
        .stitches-heroicon(-350px, -220px, 59px, 33px);
    }

    &.lone_druid {
        .stitches-heroicon(-419px, -220px, 59px, 33px);
    }

    &.luna {
        .stitches-heroicon(-488px, -220px, 59px, 33px);
    }

    &.lycan {
        .stitches-heroicon(-5px, -263px, 59px, 33px);
    }

    &.magnataur {
        .stitches-heroicon(-74px, -263px, 59px, 33px);
    }

    &.medusa {
        .stitches-heroicon(-143px, -263px, 59px, 33px);
    }

    &.meepo {
        .stitches-heroicon(-212px, -263px, 59px, 33px);
    }

    &.mirana {
        .stitches-heroicon(-281px, -263px, 59px, 33px);
    }

    &.morphling {
        .stitches-heroicon(-350px, -263px, 59px, 33px);
    }

    &.naga_siren {
        .stitches-heroicon(-419px, -263px, 59px, 33px);
    }

    &.necrolyte {
        .stitches-heroicon(-488px, -263px, 59px, 33px);
    }

    &.nevermore {
        .stitches-heroicon(-5px, -306px, 59px, 33px);
    }

    &.night_stalker {
        .stitches-heroicon(-74px, -306px, 59px, 33px);
    }

    &.nyx_assassin {
        .stitches-heroicon(-143px, -306px, 59px, 33px);
    }

    &.obsidian_destroyer {
        .stitches-heroicon(-212px, -306px, 59px, 33px);
    }

    &.ogre_magi {
        .stitches-heroicon(-281px, -306px, 59px, 33px);
    }

    &.omniknight {
        .stitches-heroicon(-350px, -306px, 59px, 33px);
    }

    &.phantom_assassin {
        .stitches-heroicon(-419px, -306px, 59px, 33px);
    }

    &.phantom_lancer {
        .stitches-heroicon(-488px, -306px, 59px, 33px);
    }

    &.puck {
        .stitches-heroicon(-5px, -349px, 59px, 33px);
    }

    &.pudge {
        .stitches-heroicon(-74px, -349px, 59px, 33px);
    }

    &.pugna {
        .stitches-heroicon(-143px, -349px, 59px, 33px);
    }

    &.queenofpain {
        .stitches-heroicon(-212px, -349px, 59px, 33px);
    }

    &.rattletrap {
        .stitches-heroicon(-281px, -349px, 59px, 33px);
    }

    &.razor {
        .stitches-heroicon(-350px, -349px, 59px, 33px);
    }

    &.riki {
        .stitches-heroicon(-419px, -349px, 59px, 33px);
    }

    &.rubick {
        .stitches-heroicon(-488px, -349px, 59px, 33px);
    }

    &.sand_king {
        .stitches-heroicon(-5px, -392px, 59px, 33px);
    }

    &.shadow_demon {
        .stitches-heroicon(-74px, -392px, 59px, 33px);
    }

    &.shadow_shaman {
        .stitches-heroicon(-143px, -392px, 59px, 33px);
    }

    &.shredder {
        .stitches-heroicon(-212px, -392px, 59px, 33px);
    }

    &.silencer {
        .stitches-heroicon(-281px, -392px, 59px, 33px);
    }

    &.skeleton_king {
        .stitches-heroicon(-350px, -392px, 59px, 33px);
    }

    &.skywrath_mage {
        .stitches-heroicon(-419px, -392px, 59px, 33px);
    }

    &.slardar {
        .stitches-heroicon(-488px, -392px, 59px, 33px);
    }

    &.slark {
        .stitches-heroicon(-5px, -435px, 59px, 33px);
    }

    &.sniper {
        .stitches-heroicon(-74px, -435px, 59px, 33px);
    }

    &.spectre {
        .stitches-heroicon(-143px, -435px, 59px, 33px);
    }

    &.spirit_breaker {
        .stitches-heroicon(-212px, -435px, 59px, 33px);
    }

    &.storm_spirit {
        .stitches-heroicon(-281px, -435px, 59px, 33px);
    }

    &.sven {
        .stitches-heroicon(-350px, -435px, 59px, 33px);
    }

    &.templar_assassin {
        .stitches-heroicon(-419px, -435px, 59px, 33px);
    }

    &.tidehunter {
        .stitches-heroicon(-488px, -435px, 59px, 33px);
    }

    &.tinker {
        .stitches-heroicon(-5px, -478px, 59px, 33px);
    }

    &.tiny {
        .stitches-heroicon(-74px, -478px, 59px, 33px);
    }

    &.treant {
        .stitches-heroicon(-143px, -478px, 59px, 33px);
    }

    &.troll_warlord {
        .stitches-heroicon(-212px, -478px, 59px, 33px);
    }

    &.tusk {
        .stitches-heroicon(-281px, -478px, 59px, 33px);
    }

    &.undying {
        .stitches-heroicon(-350px, -478px, 59px, 33px);
    }

    &.ursa {
        .stitches-heroicon(-419px, -478px, 59px, 33px);
    }

    &.vengefulspirit {
        .stitches-heroicon(-488px, -478px, 59px, 33px);
    }

    &.venomancer {
        .stitches-heroicon(-5px, -521px, 59px, 33px);
    }

    &.viper {
        .stitches-heroicon(-74px, -521px, 59px, 33px);
    }

    &.visage {
        .stitches-heroicon(-143px, -521px, 59px, 33px);
    }

    &.warlock {
        .stitches-heroicon(-212px, -521px, 59px, 33px);
    }

    &.weaver {
        .stitches-heroicon(-281px, -521px, 59px, 33px);
    }

    &.windrunner {
        .stitches-heroicon(-350px, -521px, 59px, 33px);
    }

    &.wisp {
        .stitches-heroicon(-419px, -521px, 59px, 33px);
    }

    &.witch_doctor {
        .stitches-heroicon(-488px, -521px, 59px, 33px);
    }

    &.zuus {
        .stitches-heroicon(-557px, -5px, 59px, 33px);
    }
}
